@{
    ViewBag.Title = "Home Page";
}

<html >
<head>
    <style>
        .can {
            display: flex;
            /*flex-direction:row;*/
            /*flex-wrap: wrap-reverse;*/
            flex-flow: row wrap-reverse; /*Birleştirme yaptık*/
            background-color: #4800ff;
            justify-content:center;
            align-items:center;
            align-content:space-between;
            height:700px;


        }
        .can > div {
            padding:29px;
            background-color:#00ffff ;
            margin:10px;
            width:100px;
            height:100px;
            text-align:center;
            vertical-align:central;
            line-height:60px;
            font-size:30px;
        }
    </style>

</head>
<body>
    <div class="can">
        <div>1</div>
        <div>2</div>
        <div>3</div>



    </div>
</body>
</html>