@{
    ViewBag.Title = "Home Page";
}

<html >
<head>
    <style>
        .can {
            display: flex;
            flex-direction:row-reverse;
            background-color:#4800ff;
             
        }
        .can > div {
            padding:29px;
            background-color:#00ffff ;
            margin:10px;
            width:100px;
            height:100px;
        }
    </style>

</head>
<body>
    <div class="can">
        <div>1</div>
        <div>2</div>
        <div>3</div>


    </div>
</body>
</html>