@{
    ViewBag.Title = "Home Page";
}

<html >
<head>
    <style>
        .can {
            display: flex;
            background-color:#ff006e;
             
        }
        .can > div {
            padding:29px;
            background-color:#0026ffff;
            margin:10px;
        }
    </style>

</head>
<body>
    <div class="can">
        <div>1</div>
        <div>2</div>
        <div>3</div>


    </div>
</body>
</html>